 @import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swap");


 * {
    text-decoration: none;
    color: white;
    box-sizing: border-box;
 }

 body {
    font-family: 'Montserrat';
 }

 .background {
    background-image: url(../img/media-bg-cover.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px 0 97px;
 }

 .container {
    max-width: 1140px;
    margin: 0 auto;
 }

 .container--2{
   max-width: 1140px;
   width: 100%;
   margin: 0 auto;
 }

 .logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
 }

 .header {
    padding-bottom: 154px;
 }

 .header,
 .header__ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .header__link {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
 }

 .header__link:hover {
    color: antiquewhite;
 }

 .header__li:not(:last-of-type) {
    margin-right: 21px;

 }


 .title {
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    max-width: 600px;
    width: 100%;
    margin-bottom: 35px;
 }

 .text {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    max-width: 376px;
    width: 100%;
    margin-bottom: 42px;
 }

 .input {
    max-width: 277px;
    width: 100%;
    height: 60px;
    background: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    padding-left: 28px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    outline: none;
 }

 .input::placeholder {
    color: #fff;
 }


 .button {
    max-width: 186px;
    width: 100%;
    height: 60px;
    background: #23A6F0;
    border-radius: 30px;
    border: none;
    margin-left: 22px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    cursor: pointer;
 }

 .button:hover{
   background: #4db3ee;
   transition: 0.5s;
 }

 .industry {
    background: #252B42;
    padding: 112px 0;
 }

 .industry__block {
    text-align: center;
    margin-bottom: 96px;
 }

 .industry__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    margin-bottom: 10px;
 }

 .industry__text {
    max-width: 470px;
    width: 100%;
    margin: 0 auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
 }

 .industry__gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 21px;
    justify-items: center;
    justify-content: space-around;
 }

 .gallery__text {
    max-width: 237px;
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
   letter-spacing: 0.2px;
   margin-bottom: 15px;
 }

 .gallery__btn{
   height: 42px;
      width: 168px;
   background: #23A6F0;
      border-radius: 37px;
      border: none;
      cursor: pointer;
 }


 .gallery__item{
   position: relative;
 }

 .gallery__item:hover > .gallery__item--abs{
   opacity: 1;
 }

 .gallery__item--abs{
   position: absolute;
   bottom: 37px;
   left: 20px;
   opacity: 0;
 }